@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Chau+Philomene+One&family=Fjalla+One&family=Homenaje&family=Kaushan+Script&family=Nova+Square&family=Staatliches&display=swap');


body{
		margin: 0;
		font-size: 14px;
		color: #d2d2d3;
		-webkitr-font-smoothing:
		antialiased;
		background-color: rgb(4, 6, 17);
		font-family: 'Teko', sans-serif;
	}


	*,
	*:before,
	*:after{
		box-sizing: border-box;
	}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p{
	margin: 0 0 100px;
}

.header{
	
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	
	
}
.header__logo{
	color:#fdfdfd	;

}
.container{
	
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.header__iner{
	font-family: 'Teko', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 35px 0;
	border-bottom: 1px solid
	#fff;
}

.nav{
	
	font-size: 13px;
	font-weight: 1000;
	text-transform: uppercase;

}
.nav__link{
	margin-left: 50px;
	color: #fff;
	text-decoration: none;
	opacity: .75;
	transition: opacity .1s
	linear;
}
.nav__link:hover{
	opacity: 1;
	}
.nav__link:first-child{
	margin-left: 0;
}

.intro_inner{
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}

.intro {
	font-family: 'Teko', sans-serif;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 100px;
	text-align: center;
	height: 940px;
	background-image: url("img/4.jpg");

}

.intro_title{
	margin: 0;
	color: #fff;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
	margin: 0 0 30px;
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.intro_title.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.intro__subtitle{
	margin-bottom: 60px;
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	transform: translate(0px, 300%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.intro__subtitle.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.btn{
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	padding: 14px 40px;
	font-size: 13px;
	border-radius: 2px;
	border:0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s
	linear;
	transform: translate(0px, 400%);
	opacity: 0;
	transition: all 0.9s ease 0s;
}
.btn.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.btn--red{
	background-color: #e84545;
}

.btn--red:hover{
	background-color: #dd3434;
}

.fich{
	display: flex;
	flex-wrap: wrap;
	margin: 100px 200px;
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.fich.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}
.fic__text{
	width: 33.33333%;
	padding: 0 40px;
	margin: 25px 0;
	text-align: center;
	
}
.fich_text_zag{
	margin-bottom: 30px;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
}
.fich__text_osn{
	font-size: 14px;
	line-height: 1.5;
	color: #f8f6f6b6;
}



.cit__it:hover .cit__content{
	opacity: 1;
   }
.cit{
	display: flex;
	flex-wrap: wrap;
}


.cit__it{
	width: 25%;
	height: 350px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
	overflow: hidden;
}

.cit__ph{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate3d(-50%,-50%,0);
}


.cit__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	opacity: 0;
	height: 100%;
	background-color: rgba(232, 69, 69, 0.9);
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: opacity .2s linear;
}

.cit__title{
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.cit__text{
	font-size: 14px;
	color: #fff;
}

.obl{
	font-family: 'Teko', sans-serif;
	background-attachment: fixed, scroll;
	height: 600px;
	background-image: url("img/14.jpg");
	text-align: center;
}

.textoblall{
	font-family: 'Teko', sans-serif;
	align-items: center;
	justify-content: space-between;
	right: 100px;
	padding: 100px 100px;
	text-align: right;
}

.osntextobl{
	top: 150px;
	padding: 30px;
	right: 60px;
	font-size: 34px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.osntextobl.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.textobl{
	top: 150px;
	padding: 30px;
	right: 60px;
	margin-top: 15px;
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.textobl.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}


.btntw{
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	padding: 20px 120px;
	font-size: 13px;
	border-radius: 2px;
	border:0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s
	linear;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.btntw.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}
.btn--yel{
	background-color: #ac071d;
}

.btn--yel:hover{
	background-color: #700214b6;
}

.otz_obch{
	height: 400px;
	display: flex;
	justify-content: space-between;
}
.otz__poln{
	font-family: 'Teko', sans-serif;
	padding: 50px 40px;
	margin: 50px 50px;
}

.pgott__otz {
	background-image:url("img/13.jpg");
	background-position:center center;
	background-size:cover;
	width:920px;
	height:400px;
 }

.text__otz{
	margin: 15px;
	color: #fff;
	font-weight: 700;
	font-size: 27px;
	text-transform: uppercase;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.text__otz.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.tex__dop{
	text-align: left;
	margin: 15px;
	width: 600px;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.tex__dop.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.nizhn__all{
	background-attachment: scroll;
	background-image: url("img/15.jpg");
	background-position:center center;
	background-size:cover;
}

.nizhn__text{
	max-width: 1400px;
	margin: auto;
	text-align: center;
	font-family: 'Teko', sans-serif;
	padding: 110px;
}

.text__nizhn{

	font-size: 28px;
	color: #ffffff;
	font-weight: 700;
	padding: 40px;
	text-transform: uppercase;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.text__nizhn.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.tex__nizhn{
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	padding: 20px;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.tex__nizhn.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}

.btnor{
	margin-top: 25px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	padding: 15px 120px;
	font-size: 13px;
	border-radius: 2px;
	border:0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s
	linear;
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.btnor.anim{
	opacity: 1;
	transform: translate(0px, 0px);
}
.btn--or{
	background-color: rgb(216, 132, 6);
}

.btn--or:hover{
	background-color: #ff4e36bd;
}


.footer{
	background-color: none;
}

.footer__inner{
	padding: 50px 0;
	justify-content: center;
	display: flex;
	display: wrap;
}

.footer__block{
	width: 33.33333%;
	text-align: center;
	padding: 0 10px;
}

.footer__title{
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer__address{
	text-align: center;
	line-height: 1.5;
	font-size: 14px;
	font-style: normal;
	color: #d2d2d3;
}
.copyr{
	width: 100%;
	border-top: 2px solid
	rgb(216, 132, 6);
	padding: 10px 0;
}
.copy_text{
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
}